1 VERSIONINFO
 FILEVERSION 2,6,0,0
 PRODUCTVERSION 2,6,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "Comments", "Frequency Domain filter. Uses external libfftw3f-3.dll library.\0"
            VALUE "CompanyName", "A.G.Balakhnin aka Fizick, bag@hotmail.ru, http://avisynth.org.ru\0"
            VALUE "FileDescription", "FFT3DFilter plugin for Avisynth+ and Avisynth 2.6\0"
            VALUE "FileVersion", "2, 6, 0, 0\0"
            VALUE "InternalName", "FFT3DFilter\0"
            VALUE "LegalCopyright", "Copyright © 2004-2019 A.G.Balakhnin et al.\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "FFT3DFilter.dll\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "FFT3DFilter\0"
            VALUE "ProductVersion", "2, 6, 0, 0\0"
            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
